<div class="pg-list-container">
  <mat-sidenav-container>
     
    <mat-sidenav class="sidenav" #sidenav opened="true" mode="side">
         
      <mat-nav-list>
              <app-filters class="app-filter"></app-filters>

           
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
         
      <div style="height: 88vh">      <router-outlet></router-outlet>    </div>
       
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="pg-card-conatiner">
    <mat-card
      *ngFor="let pg of pgList"
      [ngClass]="pg.pgGender === 'FEMALE' ? 'female' : 'male'"
    >
      <mat-card-header>
        <div mat-card-avatar>avatar</div>
        <mat-card-title>{{ pg.name }}</mat-card-title>
        <mat-card-subtitle>{{ pg.pgGender }}</mat-card-subtitle>
      </mat-card-header>
      <button [routerLink]="['/pg-details', pg.payingGuestId]">
        view more
      </button>
    </mat-card>
  </div>
</div>
