<div *ngFor="let data of pgColumns">
  <button
    (click)="getSubFilters(data)"
    mat-flat-button
    [matMenuTriggerFor]="sub"
    [matMenuTriggerData]="{ label: data }"
  >
    {{ data }}
  </button>
</div>
<!-- <div (click)="sort(data, subfilter)" *ngFor="let subfilter of subFilters">
  {{ subfilter }}
</div> -->
<mat-menu #sub="matMenu">
  <ng-template let-label="label" matMenuContent>
    <button
      mat-menu-item
      *ngFor="let subFilter of subFilters"
      (click)="sort(label, subFilter)"
    >
      {{ subFilter }}
    </button>
  </ng-template>
</mat-menu>
