.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-toolbar {
  height: 80px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home:hover {
  cursor: pointer;
}

button {
  margin: 5px;
}
