<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                name="username"
                ngModel
                #username
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Password"
                type="password"
                name="password"
                ngModel
                #password
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions>
        <button mat-raised-button type="submit" value="login" color="primary">
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <mat-spinner *ngIf="showSpinner == 'none'"></mat-spinner>
</mat-card>
